{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            
            <h1><span>Welcome to</span> Cowinner!</h1>
                
            <table>
                <caption>cow list</caption>
                <thead>
                    <tr>
                        <th>weight</th>
                        <th>age</th>
                        <th>price</th>
                        <th>grassPerWeight</th>
                        <th>annualCost</th>
                        <th>winner</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cost in costs %}
                    <tr>
                        <td>{{ cost.cow.weight }}</td>
                        <td>{{ cost.cow.age }}</td>
                        <td>{{ cost.cow.price }}</td>
                        <td>{{ cost.annualCost }}</td>
                        <td>{{ cost.grassPerWeight }}</td>
                        <td>{{ cost.winner }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Add a cow!</h2>
            <a href="{{ path('create') }}">Create an entry</a>

        </div>
    </div>
{% endblock %}
