{% extends 'base.html.twig' %}

{% block body %}
                
        {% if costs is empty %}

        <p class="lead text-center">Ohhh...where's your cattle!?</p>

        {% else %}

        <table class="table">
            <thead>
                <tr>
                    <th>Price</th>
                    <th>Age</th>
                    <th>Weight</th>
                    <th>Monthly Grass</th>
                    <th>Annual Cost</th>
                    <th>Life Cost</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for cost in costs %}
                <tr {% if cost.winner %} class="success" {% endif %}>
                    <td>R$ {{ cost.cow.price }}</td>
                    <td>{{ cost.cow.age }}</td>
                    <td>{{ cost.cow.weight }} kg</td>
                    <td>{{ cost.monthlyGrass }} Kg</td>
                    <td>R$ {{ cost.annualCost }}</td>
                    <td>R$ {{ cost.lifeCost }}</td>
                    <td><a href="{{ path('delete', { 'id': cost.cow.id }) }}" class="btn btn-danger">X</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}

        <a href="{{ path('create') }}" class="btn btn-info btn-block">Add a cow!</a>

{% endblock %}